.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-cancelled {
  text-align: center;
  background-color: darkred;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Cancel-button {
  height: 150px;
  width: 500px;
  font-size: 40px;
  color: black;
  background-color: darkred;
  border-width: 0px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #111111;
  outline: none;
  cursor: pointer;
}

.Cancel-button:hover {
  background-color: rgb(117, 0, 0);
}

.Cancel-button:active {
  box-shadow: 6px 6px 10px black;
  transform: translateX(4px) translateY(4px);
}

.Cancelled-button {
  height: 150px;
  width: 500px;
  font-size: 40px;
  color: white;
  background-color: #111111;
  border-width: 0px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px black;
  outline: none;
  cursor: not-allowed;
}
